<div class="container-fluid" align="center" style="width: 100%; min-height: 100vh" ng-click="unFocus()">
    <div class="div-card" ng-mouseenter="showExtendButton = true" ng-mouseleave="showExtendButton = false" style="width:960px;margin-bottom: 20px; position: relative" align="left">
        <div class="header-collections"
             ng-style="subject.color? {'background-color': subject.color}:{}">
            <div ng-click="$event.stopPropagation(); setEditTrue('subjectName')" class="container-fluid" style="width: 95%">
                <h1 ng-if="!editSubjectName && !subject.name.length==0"
                    style="margin-top: 20px; font-size: 40px; width: 70%;"><b>
                    {{subject.name}}
                </b></h1>
                <textarea id="subjectName" ng-keypress="$event.keyCode==13 && unFocus()" ng-if="editSubjectName || subject.name.length==0" msd-elastic ng-model="subject.name"
                    rows = 1 class="open-text-input" placeholder="Navn på faget"
                    style="font-size: 40px; font-weight: bold;width: 70%; margin-top: 7px; margin-left: -7px">
                </textarea>
            </div>
            <div class="container-fluid" style="width: 95%">
                <p style="margin-bottom: 20px; font-size: 15px">({{subject.code}})</p>
            </div>
        </div>
        <div style="margin-top: 20px">
            <div class="container-fluid" style="width:95%;font-weight: bold; margin-bottom: 20px"
                 ng-style="subject.color? {'color': subject.color}:{'color': 'cornflowerblue'}">
                <div class="row">
                    <div class="col-xs-6">
                        <span style="cursor: pointer;"></b>Oppdateringer (0)</span>
                        <span>/</span>
                        <span style="cursor: pointer;" ng-click="openReportModal()">Tilbakemeldinger ({{reportInfo.length}})</span>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-2">
                        <span style="cursor: pointer;" uib-popover-template="'colorPickerPopoverTemplate.html'"
                              popover-trigger="outsideClick" popover-is-open="colorPopover" type="button">
                            Endre farge
                        </span>
                    </div>
                </div>
            </div>
            <div ng-click="$event.stopPropagation(); setEditTrue('subjectDescription')" class="container-fluid" style="width:95%;">
                <p ng-if="!editSubjectDescription && !(subject.description.length==0)"
                    style="font-size: 18px">
                    {{subject.description}}
                </p>
                <textarea id="subjectDescription" ng-keypress="$event.keyCode==13 && unFocus()" ng-if="editSubjectDescription || subject.description.length==0"
                    msd-elastic ng-model="subject.description"
                    rows="1" class="open-text-input" placeholder="Beskrivelse av pakken"
                    style="font-size: 18px; margin-top: -7px; margin-left: -7px">

                </textarea>
            </div>
        </div>
        <div class="container-fluid" style="height: 10px"></div>

        <form style="position:absolute;top:20px;right:10px;">
            <label class="btn btn-collections" ng-click="previewSubject()"
                   ng-style="subject.color? {'background-color': subject.color}:{}">Preview</label>
            <div ng-if="admin">
                <label ng-if="subject.published!='yes'" class="btn btn-collections" ng-click="publishSubject('yes')"
                       ng-style="subject.color? {'background-color': subject.color}:{}">Publiser</label>
                <label ng-if="subject.published!='no'" class="btn btn-collections" ng-click="publishSubject('no')"
                       ng-style="subject.color? {'background-color': subject.color}:{}">Avpubliser</label>
            </div>
            <div ng-if="!admin">
                <label ng-if="subject.published=='no'" class="btn btn-collections" ng-click="publishSubject('pending')"
                       ng-style="subject.color? {'background-color': subject.color}:{}">Publiser</label>
                <p ng-if="subject.published=='pending'" style="color: white">Gjøres offentlig innen kort tid...</p>
            </div>
        </form>

    </div>

    <div class="div-card" style="width:960px; margin-bottom: 30px" align="left">
        <div class="header-collections" style="height: 70px; margin-bottom: 20px"
             ng-style="subject.color? {'background-color': subject.color}:{}">
            <div class="container-fluid" style="width: 95%; padding-bottom: 15px">
                <h3><b>Oppgavesett</b></h3>
            </div>
            <form style="position: relative; top: -55px; left: 585px; width: 400px;">
                <label class="btn btn-collections" ng-click="setTargetCollection('new')" style="width:45%;"
                       ng-style="subject.color? {'background-color': subject.color}:{}">
                    <span class="glyphicon glyphicon-plus-sign" style="margin-top: 2px"></span>
                    <span>Nytt oppgavesett</span>
                </label>
                <label class="btn btn-collections" ng-click="goTo('subjects/'+subject.id+'/add')" style="width:45%;"
                       ng-style="subject.color? {'background-color': subject.color}:{}">
                    <span class="glyphicon glyphicon-circle-arrow-down" style="margin-top: 2px"></span>
                    Hent oppgavesett
                </label>
            </form>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
                <p ng-if="collections.length == 0">Her var det tomt, gitt. Kom i gang ved å lage et oppgavesett, eller enda bedre: kopier fra noen andre</p>
        </div>

        <div id="collectionsArea">
            <div as-sortable="dragControlListeners" ng-model="collections">
                <div as-sortable-item ng-repeat="collection in collections track by $index" ng-model="collection"
                     ng-mouseenter="focused[$index] = true" ng-mouseleave="focused[$index] = false; confirmDelete[collection.id] = false">
                    <div as-sortable-item-handle class="container-fluid">
                        <div ng-click="setTargetCollection($index)" class="col-xs-8" ng-show="!confirmDelete[collection.id]" style="cursor: pointer">
                            <h4>
                                {{collection.name}}
                            </h4>
                        </div>
                        <div ng-click="setTargetCollection($index)" class="col-xs-2" align="right" ng-show="!confirmDelete[collection.id]" style="cursor: pointer">
                            <h4>{{collection.exercises.length}} <img src="img/definition-icon.png" style="width: 20px"></h4>
                        </div>
                        <div class="col-xs-9" ng-show="confirmDelete[collection.id]">
                            <h4 ng-click="undoDeleteCollection(collection.id)" style="cursor: pointer">
                                <del>{{collection.name}}</del>
                            </h4>
                        </div>
                        <div class="col-xs-1"></div>
                        <div ng-show="confirmDelete[collection.id]" class="col-xs-1">
                            <p style="font-size: 10px">Klikk for å bekrefte</p>
                        </div>
                        <div class="col-xs-1">
                            <span ng-show="focused[$index]" ng-click="deleteCollection(collection,$index)" style="margin-top:10px;cursor: pointer" class="glyphicon glyphicon-trash"></span>
                        </div>
                    </div>
                    <div ng-show="$last" style="height: 20px"></div>
                    <hr ng-show="!$last">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script type="text/ng-template" id="reportModal.html">
    <div class="modal-header">
        <h3>Tilbakemeldinger</h3>
    </div>
    <div class="modal-body" style="background-color: #F1F1F2; height: 650px; overflow-y: scroll" ng-click="choseActiveExercise(undefined)">
        <div ng-click="$event.stopPropagation(); choseActiveExercise($index)" ng-repeat="info in reportInfo track by $index" class="container-fluid div-card"
             style="width: 960px; margin-bottom: 10px; position: relative">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-xs-11">
                    <div align="right" style="position: absolute;top: 5px;right:-30px;" ng-show="exercise.error">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                    </div>
                    <div class="container-fluid" style="margin-top: 10px"></div>
                    <div ng-if="info.exercise.type == 'pd'" ng-include="'exercises/pd.html'"
                         onload="exerciseNumber = $index; exercise = info.exercise"></div>
                    <div ng-if="info.exercise.type == 'mc'" ng-include="'exercises/mc.html'"
                         onload="exerciseNumber = $index; exercise = info.exercise"></div>
                    <div ng-if="info.exercise.type == 'tf'" ng-include="'exercises/tf.html'"
                         onload="exerciseNumber = $index; exercise = info.exercise"></div>
                    <div onload="exerciseNumber = $index; exercise = info.exercise" ng-include="'exercises/extrapropertyview.html'"></div>
                </div>

                <div ng-show="activeExercise != $index" style="position: absolute; bottom: 10px; right: 50px">
                    <span style="color: red; font-size: 20px">{{info.reports.length}}</span>
                    <span class="fa fa-exclamation-triangle" style="font-size: 20px; color: red;"></span>
                </div>
            </div>

            <div ng-if="activeExercise == $index" class="col-xs-11" style="margin-bottom: 10px; margin-top: 10px">
                <div class="row" ng-repeat="report in info.reports | limitTo:limitReports track by $index"
                     ng-mouseenter="showDeleteReport[$index]=true" ng-mouseleave="showDeleteReport[$index]=false; inDeleteReportList[$index]=false">
                    <div class="col-xs-1" align="center">
                        <span class="fa fa-exclamation-triangle" style="font-size: 20px; color: red"></span>
                    </div>
                    <div class="col-xs-8">
                        <p ng-show="!inDeleteReportList[$index]" style="color: red">
                            {{report.created | date: 'dd.MM.yyyy hh.mm'}}: {{report.message}}
                        </p>
                        <p ng-show="inDeleteReportList[$index]" style="color: red">
                            <del>{{report.created | date: 'dd.MM.yyyy hh.mm'}}: {{report.message}}</del>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <span ng-show="inDeleteReportList[$index]" style="font-size: 10px">Klikk igjen for å bekrefte</span>
                    </div>
                    <div class="col-xs-1">
                        <span ng-show="showDeleteReport[$index]" class="glyphicon glyphicon-trash"
                              ng-click="deleteReport(info.reports, $index)" style="cursor: pointer"></span>
                    </div>
                </div>
                <div ng-show="info.reports.length > limitReports" class="row">
                    <div class="col-xs-1" align="center">
                        <span class="glyphicon glyphicon-option-horizontal" style="font-size: 20px; cursor: pointer" ng-click="limitReports = info.reports.length"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="exercise" type="button" class="btn btn-primary" ng-click="saveChanges()">Lagre</button>
        <button type="button" class="btn btn-default" ng-click="close()">Lukk</button>
    </div>
</script>

<script type="text/ng-template" id="colorPickerPopoverTemplate.html">
    <div>
        <ngjs-color-picker selected-color="selectedColor" custom-colors="customColors" options="colorPickerOptions"
        ng-click="selectColor(selectedColor)"></ngjs-color-picker>
    </div>
</script>