<div ng-repeat="result in getResults()">
    <div ng-if="!addedExercises[result.id]" class="row search-result" ng-click="openExerciseModal(result)"
         style="padding-bottom: 15px;border-bottom: 1px solid #ccc; cursor: pointer;">
        <div class="col-xs-11">
            <div class="container-fluid">
                <h3>{{result.content.question.text}}</h3>
                <p>{{result.subject_name}} ({{result.subject_code}})</p>
            </div>
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-plus" ng-click="$event.stopPropagation(); addExercise(result)"
                  style="color: royalblue; font-size: 30px; margin-top: 100%"></span>
        </div>
    </div>
    <div ng-if="addedExercises[result.id]" class="row"
         style="padding-bottom: 15px;border-bottom: 1px solid #ccc; background-color: lightgrey">
        <div class="col-xs-11">
            <div class="container-fluid">
                <h3>{{result.content.question.text}}</h3>
                <p>{{result.subject_name}}({{result.subject_code}})</p>
            </div>
        </div>
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-ok" ng-click="$event.stopPropagation(); removeExercise(result.id)"
                  style="color: royalblue; font-size: 30px; margin-top: 100%; cursor: pointer"></span>
        </div>
    </div>
</div>

<script type="text/ng-template" id="exerciseModal.html">
    <div class="container-fluid div-card" style="padding-top: 15px; padding-bottom: 15px">
        <div ng-if="exercise.type=='mc'" ng-include="'exercises/mc.html'"></div>
        <div ng-if="exercise.type=='pd'" ng-include="'exercises/pd.html'"></div>
        <div ng-if="exercise.type=='tf'" ng-include="'exercises/tf.html'"></div>
    </div>
</script>