<button class="btn btn-exercises" ng-click="$event.stopPropagation(); addExercise('mc')"
        ng-style="subject.color ? {'color': subject.color, 'border': '3px solid ' + subject.color}:{}">
    Multiple Choice (1)
</button>
<button class="btn btn-exercises" ng-click="$event.stopPropagation(); addExercise('tf')"
        ng-style="subject.color ? {'color': subject.color, 'border': '3px solid ' + subject.color}:{}">
    True/False (2)
</button>
<!--<button class="btn btn-exercises" ng-click="$event.stopPropagation(); goToAddExercises()"-->
        <!--ng-style="subject.color ? {'color': subject.color, 'border': '3px solid ' + subject.color}:{}">-->
    <!--<span class="glyphicon glyphicon-circle-arrow-down" style="margin-top: 2px"></span> Hent oppgaver-->
<!--</button>-->