<div class="container-fluid" ng-if="exerciseNumber == activeExercise">
    <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-1" align="center">
            <span class="glyphicon glyphicon-question-sign" style="font-size: 25px; margin-top: 5px"></span>
        </div>
        <div class="col-xs-11">
            <textarea id="activeQuestion" msd-elastic class="open-text-input textarea-edit" rows="1"
                      ng-model="exercise.content.question.text" placeholder="Oppgave" ng-focus="showLimitQ=true" ng-blur="showLimitQ=false">
            </textarea>
            <div ng-show="showLimitQ && !collection.webOnly" ng-style="exercise.content.question.text.length>maxLengthQuestion? {'color': 'red'}: {}" style="float: right; margin-top: -13px">
                <span>{{exercise.content.question.text.length}}/{{maxLengthQuestion}}</span>
                <span ng-show="exercise.content.question.text.length>maxLengthQuestion">: Denne teksten kan være for lang for å vises riktig i mobil-appene</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" ng-repeat="alternative in exercise.content.alternatives track by $index" style="margin-bottom:7px;">
            <div class="row" ng-mouseenter="hoverAlternative[$index]=true" ng-mouseleave="hoverAlternative[$index]=false">
                <div class="col-xs-1" align="center">
                    <span ng-if="alternative.correct" ng-click="makeWrong(exercise, $index)" class="glyphicon glyphicon-ok-sign"
                          style="font-size: 25px; margin-top: 5px; cursor: pointer"></span>
                    <span ng-if="!alternative.correct" ng-click="makeCorrect(exercise, $index)" class="glyphicon glyphicon-remove-sign"
                          style="font-size: 25px; margin-top: 5px; cursor: pointer"></span>
                </div>
                <div class="col-xs-10">
                    <textarea id="alt-{{$index}}" ng-if="alternative.correct" ng-keypress="changeAlternativeValue($event, exercise, $index)"
                              msd-elastic class="open-text-input" style="resize: none;" rows="1" ng-model="alternative.text" placeholder="Riktig alternativ"
                              ng-focus="showLimitAlt[$index] = true" ng-blur="showLimitAlt[$index] = false"></textarea>
                    <textarea id="alt-{{$index}}" ng-if="!alternative.correct" ng-keypress="changeAlternativeValue($event, exercise, $index)"
                              msd-elastic class="open-text-input" style="resize: none;" rows="1" ng-model="alternative.text" placeholder="Galt alternativ"
                              ng-focus="showLimitAlt[$index] = true" ng-blur="showLimitAlt[$index] = false"></textarea>
                    <div ng-show="showLimitAlt[$index] && !collection.webOnly" ng-style="alternative.text.length > maxLengthAlternatives? {'color': 'red'}: {}" style="float: right; margin-top: -13px">
                        <span>{{alternative.text.length}}/{{maxLengthAlternatives}}</span>
                        <span ng-show="alternative.text.length > maxLengthAlternatives">: Denne teksten kan være for lang for å vises riktig i mobil-appene</span>
                    </div>

                </div>
                <div class="col-xs-1" ng-hide="$first">
                    <span ng-show="hoverAlternative[$index]" ng-click="deleteAlternative(exercise, $index)"
                          class="glyphicon glyphicon-remove"
                          style="font-size: 10px;cursor: pointer;"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="width: 85%;margin-top: 10px;">
            <a tabindex="0" style="cursor: pointer" ng-click="addAlternative(exercise)" ng-keypress="$event.keyCode==13 && addAlternative(exercise)">
                + Legg til alternativ
            </a>
        </div>
        <div class="col-xs-10">
        </div>
    </div>

</div>

<div class="container-fluid" ng-if="exerciseNumber != activeExercise">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12">
            <h4 class="pre-wrap-text">{{exercise.content.question.text}}</h4>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="alternative in exercise.content.alternatives track by $index" style="margin-bottom: 7px">
            <div class="col-xs-1">
                <span ng-class="alternative.correct ? 'glyphicon glyphicon-ok': 'glyphicon glyphicon-remove'"
                style="font-size: 15px;">
                </span>
            </div>
            <div class="col-xs-11">
                <h5 class="pre-wrap-text" style="margin-top: 0; font-size: 15px">{{alternative.text}}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="alternative in exercise.content.wrongs track by $index" style="margin-bottom:7px;">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-remove" style="font-size: 15px;">
                </span>
            </div>
            <div class="col-xs-11">
                <h5 class="pre-wrap-text" style="margin-top: 0; font-size: 15px">{{alternative.text}}</h5>
            </div>
        </div>
    </div>
</div>



