<div class="container-fluid" ng-if="exerciseNumber == activeExercise" ng-init="initAlternatives(exercise)">
    <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-1">
            <span class="glyphicon glyphicon-question-sign" style="font-size: 25px; margin-top: 5px"></span>
        </div>
        <div class="col-xs-11">
            <textarea id="activeQuestion" msd-elastic class="open-text-input textarea-edit" rows="1" ng-model="exercise.content.question.text" placeholder="Oppgave">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid" ng-repeat="alternative in mcAlternatives track by $index" style="margin-bottom:7px;">
            <div class="row" ng-mouseenter="hoverAlternative[$index]=true" ng-mouseleave="hoverAlternative[$index]=false">
                <div class="col-xs-1">
                    <span ng-if="alternative.correct" ng-click="makeWrong(exercise, $index)" class="glyphicon glyphicon-ok-sign"
                          style="font-size: 25px; margin-top: 5px; cursor: pointer"></span>
                    <span ng-if="!alternative.correct" ng-click="makeCorrect(exercise, $index)" class="glyphicon glyphicon-remove-sign"
                          style="font-size: 25px; margin-top: 5px; cursor: pointer"></span>
                </div>
                <div class="col-xs-10">
                    <textarea id="alt-{{$index}}" ng-if="alternative.correct" ng-keypress="focusNextAlternative($event, $last, $index)"
                              msd-elastic class="open-text-input" style="resize: none;" rows="1" ng-model="alternative.answer" placeholder="Riktig alternativ"></textarea>
                    <textarea id="alt-{{$index}}" ng-if="!alternative.correct" ng-keypress="focusNextAlternative($event, $last, $index)"
                              msd-elastic class="open-text-input" style="resize: none;" rows="1" ng-model="alternative.answer" placeholder="Galt alternativ"></textarea>
                </div>
                <div class="col-xs-1" ng-hide="$first">
                    <span ng-show="hoverAlternative[$index]" ng-click="deleteAlternative($index)"
                          class="glyphicon glyphicon-remove"
                          style="font-size: 10px;cursor: pointer;"></span>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="width: 85%;margin-top: 10px;">
            <a style="cursor: pointer" ng-click="addAlternative(exercise)">+ Legg til alternativ</a>
        </div>
        <div class="col-xs-10">
        </div>
    </div>

</div>

<div class="container-fluid" ng-if="exerciseNumber != activeExercise">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12">
            <h4>{{exercise.content.question.text}}</h4>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="alternative in exercise.content.corrects track by $index" style="margin-bottom: 7px">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-ok" style="font-size: 15px;">
                </span>
            </div>
            <div class="col-xs-11">
                <h5 style="margin-top: 0; font-size: 15px">{{alternative.answer}}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="alternative in exercise.content.wrongs track by $index" style="margin-bottom:7px;">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-remove" style="font-size: 15px;">
                </span>
            </div>
            <div class="col-xs-11">
                <h5 style="margin-top: 0; font-size: 15px">{{alternative.answer}}</h5>
            </div>
        </div>
    </div>
</div>



